<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Daum webtoon</title>
  </head>
  <body>
    <a href = '/scrap'><h2>Today's Webtoon</h2></a><br>
    <a href="/week/mon">Monday</a><br>
    <a href="/week/tue">Tuesday</a><br>
    <a href="/week/wed">Wednesday</a><br>
    <a href="/week/thu">Thursday</a><br>
    <a href="/week/fri">Friday</a><br>
    <a href="/week/sat">Saturday</a><br>
    <a href="/week/sun">Sunday</a>
  </body>
</html>
